<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
<head>
        <title>DXAsia {{ page.title }}</title>
<link rel="stylesheet" href="/dxasia.css" type="text/css" media="all" />
</head>
<body>
<div style="float: left">
<h1><img src="/images/dxasia.png" alt="dxasia logo"/></h1>
</div>
<div id="corner">
<a href="/">home</a>
<a href="http://dxasia-uadx.blogspot.com">news</a>
<a href="/about-us">about</a>
<a href="/contact">contact</a>
<a href="#content" class="hide" accesskey="2">skip navigation</a>
</div>
<div id="lastupdated">
    updated on {{ site.data.meta.updated }}
</div>
